.form-section {
    padding: 80px 10%;
    display: flex;
    justify-content: center;
    background-color: #fff;

}

.form-container {
    width: 100%;
    max-width: 1100px;
}

.form-row {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.form-group label {
    font-weight: 700;
    color: #274C5B;
    font-size: 18px;
}

.form-group input,
.form-group textarea {
    padding: 20px 25px;
    border: 1px solid #7EB693;
    border-radius: 16px;
    font-size: 16px;
    font-style: italic;
    outline: none;
    transition: 0.2s;
}



.form-btn {
    background-color: #274C5B;
    color: white;
    padding: 25px 50px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}


.form-btn:hover {
    background-color: #1a343f;
    transform: translateY(-2px);
}


@media (max-width: 992px) {
    .form-section {
        padding: 60px 5%;
    }
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .form-group label {
        font-size: 16px;
    }

    .form-btn {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .form-section {
        padding: 40px 15px;
    }

    .form-group input,
    .form-group textarea {
        padding: 15px;
    }
}