.loc-section {
    padding: 100px 10%;
    display: flex;
    justify-content: center;
}

.loc-card {
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    background-image: url("../../assets/a9.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
}

.loc-content {
    background: white;
    width: 450px;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.loc-sub {
    color: #7EB693;
    font-size: 24px;
    margin-bottom: 8px;
}

.loc-title {
    color: #274C5B;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.loc-desc {
    color: #525C60;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 16px;
}

.loc-item {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.loc-item h4 {
    color: #525C60;
    font-weight: 700;
    margin-bottom: 5px;
}

.loc-item p {
    color: #525C60;
    font-size: 14px;
}


@media (max-width: 992px) {
    .loc-card {
        justify-content: center;
        padding: 20px;
    }

    .loc-content {
        width: 90%;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .loc-section {
        padding: 50px 20px;
    }

    .loc-card {
        min-height: auto;
    }

    .loc-content {
        width: 100%;
        box-shadow: none;
    }

    .loc-title {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .loc-content {
        padding: 20px;
    }

    .loc-sub {
        font-size: 20px;
    }
}