.eco-section {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.eco-image-container {
  width: 50%;
  height: 100vh;
}

.eco-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eco-content-card {
  width: 700px;
  background-color: #ffffff;
  padding: 80px 100px;
  border-radius: 30px;
  position: absolute;
  left: 45%; 
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  z-index: 2;
}

.eco-subtitle {
  color: #7eb693;
  font-size: 32px;
  margin-bottom: 8px;
}

.eco-main-title {
  color: #274c5b;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 40px;
}

.eco-item {
  margin-bottom: 30px;
}

.eco-item h4 {
  color: #274c5b;
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 700;
}

.eco-item p {
  color: #525c60;
  font-size: 16px;
  line-height: 1.6;
}


@media (max-width: 1200px) {
  .eco-content-card {
    width: 550px;
    padding: 50px;
    left: 40%;
  }
  .eco-main-title {
    font-size: 35px;
  }
}

@media (max-width: 992px) {
  .eco-section {
    flex-direction: column;
    height: auto;
  }

  .eco-image-container {
    width: 100%;
    height: 400px;
  }

  .eco-content-card {
    position: static; 
    width: 90%;
    margin: -50px auto 50px auto; 
    padding: 40px;
  }
}


@media (max-width: 576px) {
  .eco-main-title {
    font-size: 28px;
  }
  
  .eco-content-card {
    padding: 30px 20px;
  }

  .eco-subtitle {
    font-size: 24px;
  }

  .eco-item h4 {
    font-size: 18px;
  }
}