.header {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.logo img {
    width: 32px;
    height: auto;
}

.logo h1 {
    color: #274C5B;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu ul li a,
.drop {
    text-decoration: none;
    color: #274C5B;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.menu ul li a:hover {
    color: #7EB693;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search input {
    background-color: #FAFAFA;
    border: none;
    border-radius: 30px;
    padding: 14px 25px;
    width: 250px;
    outline: none;
}

.s-btn {
    position: absolute;
    right: 5px;
    background-color: #7EB693;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 40px;
    padding: 5px 20px 5px 5px;
    cursor: pointer;
}

.c-icon {
    background-color: #274C5B;
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-text {
    color: #274C5B;
    font-weight: 700;
    font-size: 17px;
}



@media (max-width: 1024px) {
    .container {
        gap: 20px;
    }

    .menu ul {
        gap: 15px;
    }

    .search input {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 15px 0;
    }

    .container {
        flex-wrap: wrap;
    }

    .menu {
        order: 3;
        width: 100%;
        display: none;
    }

    .logo h1 {
        font-size: 24px;
    }

    .actions {
        gap: 10px;
    }

    .search input {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .container {
        justify-content: center;
        gap: 15px;
    }

    .logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .search {
        width: 100%;
    }

    .search input {
        width: 100%;
    }

    .cart {
        padding: 4px 12px 4px 4px;
    }

    .c-icon {
        width: 35px;
        height: 35px;
    }

    .c-text {
        font-size: 14px;
    }
}