.notfound-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f8f5;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.notfound-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding: 0 5%;
}

.notfound-image {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfound-image img {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: contain;
    transform: scale(1.1);
}

.notfound-text-section {
    flex: 1;
    text-align: left;
    padding-left: 50px;
    z-index: 2;
}

.notfound-code {
    font-size: 250px;
    font-weight: 900;
    color: #8fa0a1;
    line-height: 0.8;
    margin: 0;
}

.notfound-title {
    font-size: 60px;
    font-weight: 800;
    color: #274c5b;
    margin: 10px 0;
}

.notfound-desc {
    font-size: 20px;
    color: #525c60;
    margin: 15px 0 40px 0;
    max-width: 450px;
    font-weight: 500;
}

.notfound-btn {
    background-color: #274c5b;
    color: white;
    padding: 24px 50px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s ease;
}

.notfound-btn:hover {
    background-color: #1a343f;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(39, 76, 91, 0.2);
}


@media (max-width: 1200px) {
    .notfound-code {
        font-size: 180px;
    }

    .notfound-title {
        font-size: 45px;
    }

    .notfound-image img {
        transform: scale(1);
    }
}

@media (max-width: 992px) {
    .notfound-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .notfound-text-section {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notfound-image img {
        max-width: 450px;
    }
}

@media (max-width: 480px) {
    .notfound-code {
        font-size: 120px;
    }

    .notfound-title {
        font-size: 32px;
    }

    .notfound-image img {
        max-width: 300px;
    }

    .notfound-btn {
        width: 100%;
        justify-content: center;
    }
}